

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    background-color: rgb(149, 214, 206);
    font-size: 30px;
    
}

header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: rgb(55, 55, 65);
}

header img {
    border: rgb(55, 55, 65) 5px solid;
}



/* game itself */
.gridContainer {
    display: inline-block;
    border: 1px black solid;
    
    
}

.rowContainer {
    display: flex;
}

.square {
    border: 1px black solid;
    box-sizing: border-box;
}
