.gridContainer {
    display: inline-block;
    border: 1px black solid;
}

.rowContainer {
    display: flex;
}

.square {
    border: 1px black solid;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}

.hovered {
    background-color: red;
}