body {
    background-color: rgb(230, 228, 182);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    background-color: rgb(149, 214, 206);
    font-size: 30px;
    border-bottom: rgb(55, 55, 65) solid 5px;
    
}

header h1 {
    font-weight: bolder;
    color: rgb(55, 55, 65);
}

header img {
    border: rgb(55, 55, 65) 5px solid;
}

/* game itself */
.gridContainer {
    display: inline-block;
    border: 1px black solid;
    background-color: white;
}

.rowContainer {
    display: flex;
}

.square {
    border: 1px black solid;
    box-sizing: border-box;
}

.big-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background-color: rgb(230, 228, 182);
    margin-right: 200px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

.buttons p {
    font-size: 25px;
    font-weight: bold;
}

.buttons button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: black 3px solid;
}

.tips p{
    font-size: 20px;
    padding: 20px 0;
    /* width: 300px; */

}

.tips {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 30%; */
}

.tips h2 {
    font-size: 30px;
    border-bottom: dashed 3px black;
}

#redButton {
    background-color: red;
}
#blueButton {
    background-color: blue;
    color: white;

}
#greenButton {
    background-color: green;
}
#yellowButton {
    background-color: yellow;
}
#orangeButton {
    background-color: orange;
}
#purpleButton {
    background-color: purple;
    color: white;

}
#blackButton {
    background-color: black;
    color: white;

}
#whiteButton {
    background-color: white;
}
#rainbowButton {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    color: rgb(0, 0, 0);
}

.selected {
    border: black solid 7px;
    border-radius: 20px;
}